
3_ia/mlx-model/Qwen3-0.6B/model.safetensors
4_jeu/tutoriel2d/.godot/editor/editor_layout.cfg
4_jeu/tutoriel2d/.godot/editor/editor_layout.cfg
4_jeu/tutoriel2d/.godot/editor/filesystem_cache10
4_jeu/tutoriel2d/.godot/editor/filesystem_update4
4_jeu/tutoriel2d/.godot/editor/filesystem_cache10
4_jeu/tutoriel2d/project.godot
4_jeu/tutoriel2d/project.godot
4_jeu/tutoriel2d/.godot/uid_cache.bin
4_jeu/tutoriel2d/.godot/editor/project_metadata.cfg
4_jeu/tutoriel2d/.godot/editor/filesystem_update4
4_jeu/tutoriel2d/.godot/editor/filesystem_cache10
4_jeu/tutoriel2d/.godot/editor/editor_layout.cfg
4_jeu/tutoriel2d/.godot/editor/editor_layout.cfg
4_jeu/tutoriel2d/.godot/editor/filesystem_cache10
4_jeu/tutoriel2d/.godot/editor/project_metadata.cfg
4_jeu/tutoriel2d/project.godot
4_jeu/tutoriel3d/project.godot
